:root { 
  --dark: #212529; 
  --oragne: #f8a200;
  --dark-brown: #1c1201;
  --grey: #525150;
}

body { 
  background-color: #fff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.Header {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position : relative;
  padding: 0;
  flex-direction:column;
  width: 100%;

}

.logo{ 
  width:400px;
  height: 300px; 
}

#transparent { 
  background: transparent;
}

.navbar {
  height: 70px;
}

.gran img {
  background-size: cover;
  width: 60px;
  margin: 10px 0px;
}

.question h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  color: white;
  font-size: 30px;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
.header-video { 
  object-fit: cover;
  position: fixed;
  right:0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

